
#titulo{
    text-align: center;
}
#parrafo_Uno{
    text-align: center;
}
#parrafo_Dos{
    text-align: center;
}
#botoncolor{
    text-align: center;
}

#unity-container {
    margin-top: 100px;
}
